.centering_parent {
    height: 100px;  
    position: fixed;
    bottom: 0px;
    left: 250px;
    background-color: #fbffbe;
    padding: 5px;  
}

.sidebar {
    width:250px;
    height:auto;
    background-color:#009b9f;
    position: fixed;
    float:left;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

.chat_area {
    width:700px;
    height:auto;
    /* position: fixed; */
    /* top: 0px; */
    left: 250px;
}